[submodule "aap-juce"]
	path = aap-juce
	url = https://github.com/atsushieno/aap-juce.git
[submodule "android-audio-plugin-framework"]
	path = android-audio-plugin-framework
	url = https://github.com/atsushieno/android-audio-plugin-framework.git
[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "apps/aap-juce-plugin-host"]
	path = apps/aap-juce-plugin-host
	url = https://github.com/atsushieno/aap-juce-plugin-host.git
[submodule "apps/aap-juce-dexed"]
	path = apps/aap-juce-dexed
	url = https://github.com/atsushieno/aap-juce-dexed.git
[submodule "apps/aap-juce-adlplug"]
	path = apps/aap-juce-adlplug
	url = https://github.com/atsushieno/aap-juce-adlplug.git
[submodule "apps/aap-juce-ports"]
	path = apps/aap-juce-ports
	url = https://github.com/atsushieno/aap-juce-ports.git
[submodule "apps/aap-juce-obxd"]
	path = apps/aap-juce-obxd
	url = https://github.com/atsushieno/aap-juce-obxd.git
[submodule "apps/aap-juce-frequalizer"]
	path = apps/aap-juce-frequalizer
	url = https://github.com/atsushieno/aap-juce-frequalizer.git
[submodule "apps/aap-juce-odin2"]
	path = apps/aap-juce-odin2
	url = https://github.com/atsushieno/aap-juce-odin2.git
[submodule "apps/aap-juce-witte-eq"]
	path = apps/aap-juce-witte-eq
	url = https://github.com/atsushieno/aap-juce-witte-eq.git
[submodule "apps/aap-juce-chow-phaser"]
	path = apps/aap-juce-chow-phaser
	url = https://github.com/atsushieno/aap-juce-chow-phaser.git
[submodule "apps/aap-juce-hera"]
	path = apps/aap-juce-hera
	url = https://github.com/atsushieno/aap-juce-hera.git
